In [115]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.linear_model import LogisticRegression
plt.style.use('ggplot')
%matplotlib inline

In [116]:
train_dataset = pd.read_csv('./Dataset/train.txt',sep=' ')
train_dataset.drop(train_dataset.columns[[26,27]], axis=1,inplace=True)
col_name = ['id','cycle','set1','set2','set3','s1','s2','s3','s4','s5','s6','s7','s8']+['s9','s10','s11','s12','s13','s14','s14','s15','s16','s17','s18','s19','s20']
train_dataset.columns = col_name
#print(train_dataset.head(2))
print(train_dataset.shape)

(20630, 26)

In [117]:
test_dataset = pd.read_csv('./Dataset/test.txt',sep=' ')
test_dataset.drop(test_dataset.columns[[26,27]], axis=1,inplace=True)
test_dataset.columns = col_name
#print(train_dataset.head(2))
print(test_dataset.shape)
test_dataset.dropna()

(13095, 26)

,id,cycle,set1,set2,set3,s1,s2,s3,s4,s5,...,s12,s13,s14,s14,s15,s16,s17,s18,s19,s20
0,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916
1,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166
2,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737
3,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130
4,1,6,0.0012,0.0003,100.0,518.67,642.11,1579.12,1395.13,14.62,...,521.92,2388.08,8127.46,8.4238,0.03,392,2388,100.0,38.91,23.3467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13090,100,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,...,520.69,2388.00,8213.28,8.4715,0.03,394,2388,100.0,38.65,23.1974
13091,100,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,...,521.05,2388.09,8210.85,8.4512,0.03,395,2388,100.0,38.57,23.2771
13092,100,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,...,521.18,2388.04,8217.24,8.4569,0.03,395,2388,100.0,38.62,23.2051
13093,100,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,...,521.33,2388.08,8220.48,8.4711,0.03,395,2388,100.0,38.66,23.2699
13094,100,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,...,521.07,2388.05,8214.64,8.4903,0.03,396,2388,100.0,38.70,23.1855

In [118]:
truth_ds = pd.read_csv('./Dataset/truth.txt',sep=' ')
truth_ds.drop(truth_ds.columns[[1]], axis=1,inplace=True)
truth_ds.columns = ['more']
truth_ds['id'] = truth_ds.index+1
print(truth_ds.head())

   more  id
0    98   1
1    69   2
2    82   3
3    91   4
4    93   5

In [119]:
rul=pd.DataFrame(test_dataset.groupby("id")['cycle'].max()).reset_index()
rul.columns = ['id','max']
rul.head()

   id  max
0   1   31
1   2   49
2   3  126
3   4  106
4   5   98

In [120]:
truth_ds['rtf']=truth_ds['more']+rul["max"]
truth_ds.head ()

   more  id    rtf
0    98   1  129.0
1    69   2  118.0
2    82   3  208.0
3    91   4  197.0
4    93   5  191.0

In [121]:
#truth_ds.drop("more", axis=1, inplace=True)
test_dataset=test_dataset.merge(truth_ds, on= ['id'], how= "left")
test_dataset[ 'ttf']=test_dataset['rtf'] - test_dataset['cycle']
test_dataset.drop ('rtf', axis=1, inplace=True)
test_dataset. head()

,id,cycle,set1,set2,set3,s1,s2,s3,s4,s5,...,s14,s14,s15,s16,s17,s18,s19,s20,more,ttf
0,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,98.0,127.0
1,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,98.0,126.0
2,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,98.0,125.0
3,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,98.0,124.0
4,1,6,0.0012,0.0003,100.0,518.67,642.11,1579.12,1395.13,14.62,...,8127.46,8.4238,0.03,392,2388,100.0,38.91,23.3467,98.0,123.0

In [122]:
train_dataset[ 'ttf'] = train_dataset.groupby(["id"])['cycle'].transform(max)-train_dataset['cycle']
train_dataset.head()

,id,cycle,set1,set2,set3,s1,s2,s3,s4,s5,...,s13,s14,s14,s15,s16,s17,s18,s19,s20,ttf
0,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190
1,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189
2,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188
3,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187
4,1,6,-0.0043,-0.0001,100.0,518.67,642.10,1584.47,1398.37,14.62,...,2388.03,8132.85,8.4108,0.03,391,2388,100.0,38.98,23.3669,186

In [123]:
df_train = train_dataset.copy()
df_test = test_dataset.copy()
period = 30
df_train['label_bc'] = df_train ["ttf"].apply(lambda x: 1 if x <= period else 0)
df_test['label_bc'] = df_test ['ttf'].apply(lambda x: 1 if x <= period else 0)
print(df_test)
print(df_train)

        id  cycle    set1    set2   set3      s1      s2       s3       s4  \
0        1      2 -0.0027 -0.0003  100.0  518.67  641.71  1588.45  1395.42
1        1      3  0.0003  0.0001  100.0  518.67  642.46  1586.94  1401.34
2        1      4  0.0042  0.0000  100.0  518.67  642.44  1584.12  1406.42
3        1      5  0.0014  0.0000  100.0  518.67  642.51  1587.19  1401.92
4        1      6  0.0012  0.0003  100.0  518.67  642.11  1579.12  1395.13
...    ...    ...     ...     ...    ...     ...     ...      ...      ...
13090  100    194  0.0049  0.0000  100.0  518.67  643.24  1599.45  1415.79
13091  100    195 -0.0011 -0.0001  100.0  518.67  643.22  1595.69  1422.05
13092  100    196 -0.0006 -0.0003  100.0  518.67  643.44  1593.15  1406.82
13093  100    197 -0.0038  0.0001  100.0  518.67  643.26  1594.99  1419.36
13094  100    198  0.0013  0.0003  100.0  518.67  642.95  1601.62  1424.99

          s5  ...     s14   s15  s16   s17    s18    s19      s20  more  \
0      14.62  ...  8.3803  0.03  393  2388  100.0  39.02  23.3916  98.0
1      14.62  ...  8.4441  0.03  393  2388  100.0  39.08  23.4166  98.0
2      14.62  ...  8.3917  0.03  391  2388  100.0  39.00  23.3737  98.0
3      14.62  ...  8.4031  0.03  390  2388  100.0  38.99  23.4130  98.0
4      14.62  ...  8.4238  0.03  392  2388  100.0  38.91  23.3467  98.0
...      ...  ...     ...   ...  ...   ...    ...    ...      ...   ...
13090  14.62  ...  8.4715  0.03  394  2388  100.0  38.65  23.1974   NaN
13091  14.62  ...  8.4512  0.03  395  2388  100.0  38.57  23.2771   NaN
13092  14.62  ...  8.4569  0.03  395  2388  100.0  38.62  23.2051   NaN
13093  14.62  ...  8.4711  0.03  395  2388  100.0  38.66  23.2699   NaN
13094  14.62  ...  8.4903  0.03  396  2388  100.0  38.70  23.1855   NaN

         ttf  label_bc
0      127.0         0
1      126.0         0
2      125.0         0
3      124.0         0
4      123.0         0
...      ...       ...
13090    NaN         0
13091    NaN         0
13092    NaN         0
13093    NaN         0
13094    NaN         0

[13095 rows x 29 columns]
        id  cycle    set1    set2   set3      s1      s2       s3       s4  \
0        1      2  0.0019 -0.0003  100.0  518.67  642.15  1591.82  1403.14
1        1      3 -0.0043  0.0003  100.0  518.67  642.35  1587.99  1404.20
2        1      4  0.0007  0.0000  100.0  518.67  642.35  1582.79  1401.87
3        1      5 -0.0019 -0.0002  100.0  518.67  642.37  1582.85  1406.22
4        1      6 -0.0043 -0.0001  100.0  518.67  642.10  1584.47  1398.37
...    ...    ...     ...     ...    ...     ...     ...      ...      ...
20625  100    196 -0.0004 -0.0003  100.0  518.67  643.49  1597.98  1428.63
20626  100    197 -0.0016 -0.0005  100.0  518.67  643.54  1604.50  1433.58
20627  100    198  0.0004  0.0000  100.0  518.67  643.42  1602.46  1428.18
20628  100    199 -0.0011  0.0003  100.0  518.67  643.23  1605.26  1426.53
20629  100    200 -0.0032 -0.0005  100.0  518.67  643.85  1600.38  1432.14

          s5  ...      s14     s14   s15  s16   s17    s18    s19      s20  \
0      14.62  ...  8131.49  8.4318  0.03  392  2388  100.0  39.00  23.4236
1      14.62  ...  8133.23  8.4178  0.03  390  2388  100.0  38.95  23.3442
2      14.62  ...  8133.83  8.3682  0.03  392  2388  100.0  38.88  23.3739
3      14.62  ...  8133.80  8.4294  0.03  393  2388  100.0  38.90  23.4044
4      14.62  ...  8132.85  8.4108  0.03  391  2388  100.0  38.98  23.3669
...      ...  ...      ...     ...   ...  ...   ...    ...    ...      ...
20625  14.62  ...  8137.60  8.4956  0.03  397  2388  100.0  38.49  22.9735
20626  14.62  ...  8136.50  8.5139  0.03  395  2388  100.0  38.30  23.1594
20627  14.62  ...  8141.05  8.5646  0.03  398  2388  100.0  38.44  22.9333
20628  14.62  ...  8139.29  8.5389  0.03  395  2388  100.0  38.29  23.0640
20629  14.62  ...  8137.33  8.5036  0.03  396  2388  100.0  38.37  23.0522

       ttf  label_bc
0      190         0
1      189         0
2      188         0
3      187         0
4      186         0
...    ...       ...
20625    4         1
20626    3         1
20627    2         1
20628    1         1
20629    0         1

[20630 rows x 28 columns]

In [124]:
x_train = df_train.iloc[ : , : -1].values
y_train = df_train. iloc[: , -1:].values
print(x_train)

[[ 1.00000e+00  2.00000e+00  1.90000e-03 ...  3.90000e+01  2.34236e+01
   1.90000e+02]
 [ 1.00000e+00  3.00000e+00 -4.30000e-03 ...  3.89500e+01  2.33442e+01
   1.89000e+02]
 [ 1.00000e+00  4.00000e+00  7.00000e-04 ...  3.88800e+01  2.33739e+01
   1.88000e+02]
 ...
 [ 1.00000e+02  1.98000e+02  4.00000e-04 ...  3.84400e+01  2.29333e+01
   2.00000e+00]
 [ 1.00000e+02  1.99000e+02 -1.10000e-03 ...  3.82900e+01  2.30640e+01
   1.00000e+00]
 [ 1.00000e+02  2.00000e+02 -3.20000e-03 ...  3.83700e+01  2.30522e+01
   0.00000e+00]]

In [125]:
model = LogisticRegression(max_iter=1000)
model = model.fit(x_train,y_train.ravel())

In [137]:
x_test = df_test.iloc[ : , : -1].values
print(x_test)

<class 'pandas.core.frame.DataFrame'>
[[ 1.00000e+00  2.00000e+00 -2.70000e-03 ...  2.33916e+01  9.80000e+01
   1.27000e+02]
 [ 1.00000e+00  3.00000e+00  3.00000e-04 ...  2.34166e+01  9.80000e+01
   1.26000e+02]
 [ 1.00000e+00  4.00000e+00  4.20000e-03 ...  2.33737e+01  9.80000e+01
   1.25000e+02]
 ...
 [ 1.00000e+02  1.96000e+02 -6.00000e-04 ...  2.32051e+01          nan
           nan]
 [ 1.00000e+02  1.97000e+02 -3.80000e-03 ...  2.32699e+01          nan
           nan]
 [ 1.00000e+02  1.98000e+02  1.30000e-03 ...  2.31855e+01          nan
           nan]]

In [135]:
y_pred = model.predict(x_test)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [136]:
accuracy_score(y_train,y_pred)

1.0